#your postgres connection string
DATABASE_URL=postgresql://pguser:pgpass@localhost:5432/pgdb
# run npx auth secret to generate a new secret
BETTER_AUTH_SECRET=betterauthgenerated-secret
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
